* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    align-content: center;
}

/**************************   MAIN   *******************************/

main{
    position: relative;
    width: 500px;
    min-height: 600px;
    background-color: cornflowerblue;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

body h1{
    font-size: 58px;
    font-weight: bold;
    font-family:Calibri;
    color: #0055aa;
    text-align: center;
}

.form-group{
    margin-top: 50px;
    margin-left: 25%;

}
.form-group input{
    height: 60px;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.btn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
    border: none;
    margin: 4px 2px;
    margin-left: 25%;
}

/**************************   FOOTER   *******************************/

footer{
    background-color: #0055aa;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-size: cover;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer li{
    margin: 8px;
    display: inline-table;
}

footer li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
}

