* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fefae0;
}

main{
    margin: 80px 10px 10px 700px;
    width: 500px;
    height: 650px;
    background-color: white;
    display: flex;
    justify-content: center;

}

.login h1{
    font-size: 58px;
    font-weight: bold;
    font-family:Calibri;
    color: cadetblue;
}

.btn:hover{
    background-color: cadetblue;
}

footer{
    background-color: cadetblue;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{


}
.jus{
    display: inline-table;
}